@use 'screens' as *;

h1 {
  font-size: 3rem;
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variation-settings:
    'ital' 0,
    'wght' 790;
  font-weight: 400;
  color: #ffffff;
  margin: 0;

  @media screen and (max-width: $screen-desktop) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 2.5rem;
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variation-settings:
    'ital' 0,
    'wght' 790;
  font-weight: 400;
  color: #ffffff;
  margin: 0;

  @media screen and (max-width: $screen-desktop) {
    font-size: 2rem;
  }
}

h3 {
  font-size: 2rem;
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variation-settings:
    'ital' 0,
    'wght' 790;
  font-weight: 400;
  color: #ffffff;
  margin: 0;

  @media screen and (max-width: $screen-desktop) {
    font-size: 1.6rem;
  }
}

h4 {
  font-size: 1.6rem;
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
  font-style: normal;
  color: #ffffff;
  margin: 0;

  @media screen and (max-width: $screen-desktop) {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.5rem;
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
  font-style: normal;
  color: #ffffff;
  margin: 0;

  @media screen and (max-width: $screen-desktop) {
    font-size: 1.4rem;
  }
}

h6 {
  font-size: 1.4rem;
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
  font-style: normal;
  color: #ffffff;
  margin: 0;

  @media screen and (max-width: $screen-desktop) {
    font-size: 1.3rem;
  }
}

p,
q,
select,
input {
  font-size: 1.4rem;
  font-family: 'Arimo', 'Helvetica', 'Arial', sans-serif;
  color: #ffffff;
  font-variation-settings:
    'wght' 470,
    'ital' 0;
  margin: 0;

  @media screen and (max-width: $screen-desktop) {
    font-size: 1.25rem;
  }
}

label {
  font-size: 1.2rem;
  font-family: 'Arimo', 'Helvetica', 'Arial', sans-serif;
  color: #ffffff !important;
  margin: 0;

  @media screen and (max-width: $screen-desktop) {
    font-size: 1rem;
  }
}

select,
input {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(107, 80, 255);

  .wrapper {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: $screen-tablet) {
      flex-direction: column-reverse;
      box-sizing: border-box;
      text-align: center;
    }
  }
}

.glass {
  filter: none !important;
  -webkit-filter: none !important;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 3px solid rgba(44, 32, 68, 0.073);
  border-radius: 2rem;
}
