// Small devices
$screen-xss: 420px;
// Mobile breakpoint
$screen-xs: 576px;
// Tablet breakpoint
$screen-sm: 768px;
// Laptop breakpoint
$screen-md: 1280px;
// Macbook breakpoint
$screen-lg: 1820px;
// Desktop breakpoint
$screen-xl: 2880px;
// Large desktop breakpoint
$screen-xxl: 3072px;
