// Small devices
$screen-small: 420px;
// Mobile breakpoint
$screen-phone: 950px;
// Laptop breakpoint
$screen-tablet: 1280px;
// Laptop Horizontal breakpoint
$screen-tablet-horizontal: 1400px;
// Macbook breakpoint
$screen-macbook: 1820px;
// Desktop breakpoint
$screen-desktop: 2440px;
