name: Nuxt Build and Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - "app/**"
      - "i18n/**"
      - "public/**"
      - "server/**"
      - "nuxt.config.ts"
      - "Dockerfile"
      - "docker-compose.yml"
      - ".github/workflows/**"

jobs:
  dependencies:
    runs-on: [self-hosted]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Restore cache
        uses: actions/cache@v4
        with:
          key: node_modules-${{ hashFiles('pnpm-lock.yaml') }}
          path: node_modules
          restore-keys: node_modules-

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "25"

      - name: Install dependencies
        run: |
          npm install -g pnpm
          npm install -g nuxi
          pnpm i

      - name: Cache node_modules
        uses: actions/cache@v4
        with:
          key: node_modules-${{ hashFiles('pnpm-lock.yaml') }}
          path: node_modules

  prepare:
    runs-on: [self-hosted]
    needs: dependencies
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Restore cache
        uses: actions/cache@v4
        with:
          key: node_modules-${{ hashFiles('pnpm-lock.yaml') }}
          path: node_modules
          restore-keys: node_modules-

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "25"

      - name: Prepare for build
        run: |
          npm install -g pnpm
          npm install -g nuxi
          pnpm run postinstall

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: prepare-artifacts
          path: .nuxt/
          include-hidden-files: true
          retention-days: 1

  build:
    runs-on: [self-hosted]
    needs: prepare
    env:
      S3_BUCKET: ${{ secrets.S3_BUCKET }}
      S3_URL: ${{ secrets.S3_URL }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Restore cache
        uses: actions/cache@v4
        with:
          key: node_modules-${{ hashFiles('pnpm-lock.yaml') }}
          path: node_modules
          restore-keys: node_modules-

      - name: Download prepare artifact
        uses: actions/download-artifact@v4
        with:
          name: prepare-artifacts

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "25"

      - name: Building
        run: |
          echo "Building..."
          npm install -g pnpm
          npm install -g nuxi
          pnpm run build

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: |
            .nuxt/
            .output/
            i18n/
          include-hidden-files: true
          retention-days: 1

  deploy:
    runs-on: [self-hosted]
    needs: build
    env:
      OAUTH_ID: ${{ secrets.OAUTH_ID }}
      OAUTH_SECRET: ${{ secrets.OAUTH_SECRET }}
      AUTH_ORIGIN: ${{ secrets.AUTH_ORIGIN }}
      AUTH_TRUST_HOST: ${{ secrets.AUTH_TRUST_HOST }}
      MONGODB_URL: ${{ secrets.MONGODB_URL }}
      MONGODB_NAME: ${{ secrets.MONGODB_NAME }}
      NUXT_SECRET: ${{ secrets.NUXT_SECRET }}
      S3_BUCKET: ${{ secrets.S3_BUCKET }}
      S3_URL: ${{ secrets.S3_URL }}
      S3_ACCESS_KEY: ${{ secrets.S3_ACCESS_KEY }}
      S3_SECRET_KEY: ${{ secrets.S3_SECRET_KEY }}
      PORT: ${{ secrets.PORT }}
      DOCKER_BUILDKIT: 0
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts

      - name: Deploying
        run: |
          echo "Deploying..."
          docker compose up --detach --build
